@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



  
.Hotspot {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #00000000;
  border: 2px solid #000000;
  box-sizing: border-box;
  pointer-events: none;
}


  .HotspotAnnotation{
    background-color: #88888888;
    position: absolute;
    transform: translate(10px, 10px);
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
  }
  /* This keeps child nodes hidden while the element loads */
  :not(:defined) > * {
    display: none;
  }